body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1e293b;
}

.nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 5px;
}

.projects {
  padding: 50px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.skills {
  text-align: center;
  padding: 40px;
}

.skill-list span {
  margin: 10px;
  padding: 8px 15px;
  background: #3b82f6;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
}
